* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .article {
    color:  #DE3163 ;
    background-color:  #D0D3D4 ;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    
  }
  